<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a>
                    <span>Login</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Login </h2>
                    <form class="text-center" #loginForm=ngForm>
                        <div class="group-input">

                          <div class="alert alert-danger" [hidden]="!error">{{error}} </div>

                            <label for="email">E-mail address *</label>
                            <!-- Email -->
                              <input type="email" id="email" name="email" [ngClass]="{ 'is-invalid': error || !form.email }" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="form.email" required>
                        </div>
                        <div class="group-input">
                            <label for="password">Password *</label>
                              <!-- Password -->
                            <show-hide-password size="sm" btnStyle="warning" [btnOutline]="true">
                            <input type="password" id="password" name="password"  [ngClass]="{'is-invalid': error || !form.password }" class="form-control" placeholder="Password" [(ngModel)]="form.password" aria-describedby="defaultRegisterFormPasswordHelpBlock"
                              matInput showHideInput required>
                            </show-hide-password>

                        </div>
                        <div class="group-input gi-check">
                            <div class="gi-more">
                                <label for="save-pass">
                                    Remember Me
                                    <input type="checkbox" id="save-pass">
                                    <span class="checkmark"></span>
                                </label>
                                <a [routerLink]="['/forget password']" href="#" class="forget-pass">Forget your Password</a>
                            </div>
                        </div>
                        <button  class="site-btn login-btn" type="submit" name="sign in" (click)="signIn()" [disabled]="!loginForm.valid">Sign In</button>

                    </form>
                    <div class="switch-login">
                        <a [routerLink]="['/register']" class="or-login">Or Create An Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
