<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" [ngStyle]="{'background-image':'url(' + 'assets/img/' + dealData.img1  + ')'}">
  <div class="container">
    <div class="col-lg-6 text-center">
      <div class="section-title">
        <h2>Deal Of The Week</h2>
        <p>{{trim}} </p>
        <div class="product-price">
          ${{dealData.new_price}}
          <span>/ {{dealData.item}}</span>
        </div>
      </div>
      <div class="countdown-timer" id="countdown">

        <countdown units="Year | Month | Days | Hours | Minutes | Seconds" end="July 22, 2020" (reached)="someFunction($event)"></countdown>

      </div>
      <a href="#" [routerLink]="['/view/',dealData.name]" class="primary-btn">Shop Now</a>
    </div>
  </div>
</section>
<!-- Deal Of The Week Section End -->
