<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" [style.background]="'url(assets/img/time-bg.jpg)'">
  <div class="container">
    <div class="col-lg-6 text-center">
      <div class="section-title">
        <h2>Deal Of The Week</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
          consectetur adipisicing elit </p>
        <div class="product-price">
          $35.00
          <span>/ HanBag</span>
        </div>
      </div>
      <div class="countdown-timer" id="countdown">

        <countdown units="Year | Month | Days | Hours | Minutes | Seconds" end="July 22, 2020" (reached)="someFunction($event)"></countdown>

      </div>
      <a href="#" class="primary-btn">Shop Now</a>
    </div>
  </div>
</section>
<!-- Deal Of The Week Section End -->
