/*rating*/
.star {
  font-size: 3rem;
  position: relative;
  display: inline-block;
  color: #b0c4de;
}

.star2 {
  position: relative;
  display: inline-block;
}

.filled {
  color: #FFDF00;
}

.filled.good {
  color: #FDCC0D;
}

.filled.bad {
  color: red;
}

.d-inline-flex {
  border-style: none;
}

.full {
  color: gold;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}

 .cm-item {
	display: inline-block;
	margin-right: 10px;
}
