<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a>
          <span>Register</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="register-form">
          <h2>Register</h2>
          <form (submit)="register()" #signUp=ngForm>
            <div class="group-input">
              <!--  name -->
              <label for="name">Username *</label>
              <input type="text" id="name" name="name" [ngClass]="{ 'is-invalid': errors.name || !form.name }" class="form-control" [(ngModel)]="form.name" placeholder="Name" required>

              <div class="css-0" [hidden]="!errors.name">
                <div class="css-2viodn">
                  <div class="css-hzwjmo">
                  </div>
                  <div class="css-1j97nb6">
                    {{errors.name}}
                  </div>
                </div>
              </div>

            </div>
            <div class="group-input">
              <label for="email">email address *</label>
              <input type="email" id="email" [ngClass]="{ 'is-invalid': errors.email || !form.email }" name="email" class="form-control" placeholder="E-mail" [(ngModel)]="form.email" required (blur)="emailValid()">

              <!--  error the style in style.css -->
              <div class="css-0" [hidden]="!errors.email">
                <div class="css-2viodn">
                  <div class="css-hzwjmo">
                  </div>
                  <div class="css-1j97nb6">
                    {{errors.email}}
                  </div>
                </div>
              </div>

            </div>
            <div class="group-input">
              <label for="pass">Password *</label>
              <!--  toggle password -->
              <show-hide-password size="sm" btnStyle="warning" [btnOutline]="true">
                <input type="password" id="password" name="password" [ngClass]="{ 'is-invalid': errors.password || !form.password }" class="form-control" placeholder="Password" [(ngModel)]="form.password"
                  aria-describedby="defaultRegisterFormPasswordHelpBlock" matInput showHideInput required>
              </show-hide-password>

              <!--  error the style in style.css -->
              <div class="css-0" [hidden]="!errors.password">
                <div class="css-2viodn">
                  <div class="css-hzwjmo">
                  </div>
                  <div class="css-1j97nb6">
                    {{errors.password}}
                  </div>
                </div>
              </div>

            </div>
            <div class="group-input">
              <label for="con-pass">Confirm Password *</label>
              <input type="password" id="password_confirmation" name="password_confirmation" [ngClass]="{ 'is-invalid': errors.password || !form.password_confirmation}" class="form-control" placeholder="Confirm Password"
                [(ngModel)]="form.password_confirmation" aria-describedby="defaultRegisterFormPhoneHelpBlock" required>
            </div>
            <button type="submit" class="site-btn register-btn" [disabled]="!signUp.valid">REGISTER</button>
          </form>
          <div class="switch-login">
            <a [routerLink]="['/login']" class="or-login">Or Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Register Form Section End -->
