/* You can add global styles to this file, and also import other style files */
/*password password toggle*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* for empty forms*/
.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.ng-valid:not(form) {
  border-left: 5px solid green;
  /*green */
}

/*for googel lang bar*/
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

/*to to remove blue background and black text from input*/
@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

@keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* end remove blue background*/


/* alert error*/
.css-2viodn {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 0px;
}
.css-hzwjmo {
    width: 0px;
    height: 0px;
    margin-left: 6px;
    margin-bottom: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgb(207, 60, 45);
}
.css-1j97nb6 {
    color: rgb(255, 255, 255);
    background-color: rgb(207, 60, 45);
    text-align: left;
    font-size: 0.875rem;
    line-height: 1rem;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
}

/*end alert error*/
